* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.wrapper {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* /common */

/* side-menu */
.side-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
}

.side-menu div {
    width: 100%;
}

.side-menu .account {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* /side-menu */

/* centrale-interface */
.central-interface {
    float: left;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
}
/* /central-interface */

/* footer */
footer {
    width: 100%;
    height: 100px;
}
/* /footer */

/* media-query */
@media screen and (max-width: 600px) {

}
/* /media-query */

/* debug */
.debug .wrapper {
    background-color: aqua;
}

.debug .wrapper .side-menu {
    background-color: blueviolet;
}

.debug .wrapper .side-menu div {
    width: 100%;
    background-color: red;
    border: 1px solid black;
}

.debug .account {
    position: absolute;
    bottom: 0;
    left: 0;
}

.debug .wrapper .central-interface {
    background-color: chocolate;
}

.debug .wrapper footer {
    background-color: cornflowerblue;
}
/* /debug */
